*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    width:100%;
    overflow-x:hidden;
}

.cover{
    width:100%;
    min-height:100vh;
    height:auto;

    background:
    linear-gradient(rgba(0,0,0,.30),rgba(0,0,0,.30)),
    url("assets/herobg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px 20px;

    position:relative;
    overflow:hidden;
}
.content{
    width:100%;
    max-width:700px;
    margin:auto;
}

.content{
    text-align:center;
    color:white;
    padding:20px;
}

.title{
    font-size:15px;
    letter-spacing:4px;
    margin-bottom:25px;
}

.name{
    font-family:'Great Vibes',cursive;
    font-size:72px;
    line-height:1.1;
}

.date{
    margin-top:20px;
    font-size:16px;
    letter-spacing:2px;
}

.guest{
    margin-top:10px;

    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);

    padding:18px;
    border-radius:16px;
}

.guest p{
    font-size:14px;
}

.guest h2{
    margin-top:8px;
    font-size:24px;
    font-weight:600;
}

.btn{
    display:inline-block;

    margin-top:15px;

    padding:14px 30px;

    background:#7A1E2C;

    color:white;

    text-decoration:none;

    border-radius:40px;

    font-weight:600;

    box-shadow:0 5px 20px rgba(0,0,0,.25);
}

.quote{
    margin-top:25px;
    font-size:13px;
    opacity:.9;
    line-height:1.6;
}

.flower-top{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:140px;

    background:
    radial-gradient(circle at left,#ffffff40 0%,transparent 60%),
    radial-gradient(circle at right,#ffffff40 0%,transparent 60%);
}

.flower-bottom{
    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:140px;

    background:
    radial-gradient(circle at left,#ffffff40 0%,transparent 60%),
    radial-gradient(circle at right,#ffffff40 0%,transparent 60%);
}
.content{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.name{
    opacity:0;
    transform:translateY(40px);
    animation:nameReveal 1.5s ease forwards;
    animation-delay:.8s;
}

@keyframes nameReveal{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.cover{
    perspective:1000px;
}

.content{
    transform-style:preserve-3d;
}

.verse{
    line-height:2.2;
    white-space:pre-line;
}

.verse::after{
    content:"|";
    animation:blink .8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.guest,
.btn{
    opacity:0;
    filter:blur(15px);
    transform:scale(.95);

    animation:focusIn 1.2s ease forwards;
}

.guest{
    animation-delay:1.2s;
}

.btn{
    animation-delay:1.8s;
}

@keyframes focusIn{

    from{
        opacity:0;
        filter:blur(15px);
        transform:scale(.95);
    }

    to{
        opacity:1;
        filter:blur(0);
        transform:scale(1);
    }

}   

.hero-floral-top{
    position:absolute;
    top:0;
    left:0;

    width:100%;

    z-index:2;

    pointer-events:none;

    opacity:0;
    transform:translateY(-150px);

    animation:heroTopReveal 1.5s ease forwards;
}

.hero-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;

    width:100%;

    z-index:2;

    pointer-events:none;

    opacity:0;
    transform:translateY(150px);

    animation:heroBottomReveal 1.5s ease forwards;
}

@keyframes heroTopReveal{

    from{
        opacity:0;
        transform:translateY(-150px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes heroBottomReveal{

    from{
        opacity:0;
        transform:translateY(150px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

/*sound*/ 
.music-control{
    position:absolute;
    right:18px;
    bottom:95px;
    display:flex;
    flex-direction:column;
    gap:12px;
    z-index:99999;
    pointer-events:auto;
}

.music-control button{
    width:48px;
    height:48px;
    border:none;
    border-radius:50%;
    background:rgba(122,30,44,.92);
    color:#fff;
    font-size:20px;
    cursor:pointer;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
    display:flex;
    align-items:center;
    justify-content:center;
    pointer-events:auto;
}

.music-control button:hover{
    transform:scale(1.05);
}

@media (max-width:480px){
    .music-control{
        right:15px;
        bottom:85px;
        gap:10px;
    }

    .music-control button{
        width:44px;
        height:44px;
        font-size:18px;
    }
}
.content{
    position:relative;
    z-index:1;
}

.music-control{
    z-index:99999;
}
/* AYAT */

.verse-section{
    min-height:100vh;

    background:#faf7f4;

    display:flex;
    justify-content:center;
    align-items:center;
  min-height:100vh;
    padding:60px 30px;
}

.verse-content{
    text-align:center;
    max-width:320px;
}

.verse-icon{
    font-size:40px;
    margin-bottom:25px;
}

.verse-content h2{
    font-size:34px;
    margin-bottom:30px;
}

.verse{
    line-height:2.2;
    font-size:18px;
}

.verse-content h2{
    color:#7A1E2C;
    font-size:22px;
    margin-bottom:25px;
}

.divider{
    width:70px;
    height:2px;
    background:#d4af37;
    margin:30px auto;
}

.quote-en{
    font-style:italic;
    color:#777;
    font-size:14px;
    line-height:1.8;
}

body.lock{
    overflow:hidden;
}

.hidden{
    display:none;
}

.fade-out{
    opacity:0;
    visibility:hidden;
    transition:1s;
}
.reveal{
    opacity:0;
    filter:blur(15px);
    transform:translateY(40px);

    transition:
    opacity 1.2s ease,
    filter 1.2s ease,
    transform 1.2s ease;
}

.reveal.active{
    opacity:1;
    filter:blur(0);
    transform:translateY(0);
}

    .verse-section{
    position:relative;
    overflow:hidden;
    min-height:100vh;
}

.floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.verse-content{
    position:relative;
    z-index:2;
}

.floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;

    opacity:0;
    transform:translateY(-150px);
}

.floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;

    opacity:0;
    transform:translateY(150px);
}

.floral-top.show{
    animation:floralTopReveal 1.5s ease forwards;
}

.floral-bottom.show{
    animation:floralBottomReveal 1.5s ease forwards;
}

@keyframes floralTopReveal{

    from{
        opacity:0;
        transform:translateY(-150px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes floralBottomReveal{

    from{
        opacity:0;
        transform:translateY(150px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
/* MEMPELAI */
.couple-section{
    min-height:100vh;
    padding:120px 25px;
    background:#fff;
    text-align:center;

    position:relative;
    overflow:hidden;
}

.ig-name{
    color:#7A1E2C;
    text-decoration:none;
    transition:.3s;
}

.ig-name:hover{
    color:#b8865b;
    text-decoration:underline;
}
/* BUNGA */

.couple-floral-top{
    position:absolute;
    top:0;
    left:0;

    width:100%;

    z-index:1;

    pointer-events:none;
}

.couple-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;

    width:100%;

    z-index:1;

    pointer-events:none;
}

/* KONTEN */

.section-title,
.couple-card{
    position:relative;
    z-index:2;
}

.section-title h2{
    font-size:38px;
    color:#7A1E2C;
    margin-bottom:30px;
}

.couple-card{
    opacity:0;
    transform:translateY(60px);
    transition:all 1s ease;
}

.reveal.active .couple-card{
    opacity:1;
    transform:translateY(0);
}

.couple-card img{
    width:260px;
    height:340px;

    object-fit:cover;

    border-radius:150px 150px 20px 20px;
}

.couple-card h3{
    margin-top:20px;

    font-family:'Great Vibes',cursive;

    font-size:58px;

    color:#7A1E2C;

    line-height:1.1;
}

.parent{
    font-family:'Cormorant Garamond', serif;

    font-size:22px;

    line-height:1.9;

    font-style:italic;

    color:#666;
}
/* COUNTDOWN */

.countdown-section{
    min-height:100vh;
    background:#faf7f4;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px 25px;
}

.countdown-content{
    text-align:center;
}

.countdown-content h2{
    font-size:36px;
    color:#7A1E2C;
    margin-bottom:15px;
}

.countdown-subtitle{
    color:#777;
    line-height:1.8;
    margin-bottom:35px;
}

.wedding-date{
    font-size:22px;
    font-weight:600;
    color:#7A1E2C;
    margin-bottom:40px;
}

.countdown-box{
    display:flex;
    justify-content:center;
    gap:12px;
    flex-wrap:wrap;
}

.count-item{
    width:75px;
    height:75px;

    background:white;

    border-radius:16px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.count-item span{
    font-size:24px;
    font-weight:600;
    color:#7A1E2C;
}

.count-item small{
    color:#777;
    margin-top:4px;
}

/* DETAIL ACARA */

.event-section{
    min-height:100vh;
    background:#ffffff;

    padding:80px 25px;
}

.event-header{
    text-align:center;
    margin-bottom:50px;
}

.event-header h2{
    color:#7A1E2C;
    font-size:34px;
    margin-bottom:15px;
}

.event-header p{
    color:#777;
    line-height:1.8;
}

.event-card{
    background:#faf7f4;

    padding:30px 25px;

    border-radius:20px;

    text-align:center;

    margin-bottom:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.event-icon{
    font-size:40px;
    margin-bottom:15px;
}

.event-card h3{
    color:#7A1E2C;
    margin-bottom:20px;
    font-size:24px;
}

.event-card p{
    color:#666;
    line-height:2;
}

.event-section{
    min-height:100vh;
    padding:120px 25px;
    background:#fff;
    text-align:center;
    position:relative;
    overflow:hidden;
}

.event-floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.event-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.event-header,
.event-card{
    position:relative;
    z-index:2;
}

.event-icon{
    width:80px;
    height:80px;
    margin:0 auto 25px;
    display:flex;
    align-items:center;
    justify-content:center;

    border:2px solid #b8865b;
    border-radius:50%;

    color:#7A1E2C;
    background:#fffaf5;

    font-size:34px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.event-icon i{
    font-size:34px;
}

.event-line{
    width:70px;
    height:2px;
    background:#d4b277;
    margin:25px auto;
}

.dress-code span{
    display:block;
    font-weight:600;
    color:#7A1E2C;
    margin-bottom:12px;
}

.dress-color{
    display:flex;
    justify-content:center;
    gap:14px;
}

.color{
    width:28px;
    height:28px;
    border-radius:50%;
    border:2px solid #fff;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.maroon{
    background:#7A1E2C;
}

.cream{
    background:#F5F1E8;
}

.beige{
    background:#D6B48A;
}

.event-quote{
    font-style:italic;
    color:#888;
    line-height:1.8;
}

.event-divider{
    width:70px;
    height:2px;
    background:#d6b48a;
    margin:25px auto;
    border-radius:10px;
}

.event-note{
    color:#888;
    font-size:15px;
    line-height:1.8;
    font-style:italic;
}
/* MAPS */

.maps-section{
    min-height:100vh;

    background:#faf7f4;

    padding:80px 25px;

    display:flex;
    align-items:center;
}

.maps-content{
    width:100%;
    text-align:center;
}

.maps-content h2{
    color:#7A1E2C;
    font-size:34px;
    margin-bottom:15px;
}

.maps-subtitle{
    color:#777;
    line-height:1.8;
    margin-bottom:35px;
}

.maps-card{
    background:white;

    padding:20px;

    border-radius:20px;

    margin-bottom:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.maps-card h3{
    color:#7A1E2C;
    margin-bottom:10px;
}

.maps-card p{
    color:#666;
    line-height:1.8;
}

.map-frame{
    overflow:hidden;
    border-radius:20px;
    margin-bottom:25px;
}

.map-frame iframe{
    width:100%;
    height:300px;
    border:none;
}

.map-btn{
    display:inline-block;

    background:#7A1E2C;
    color:white;

    text-decoration:none;

    padding:14px 25px;

    border-radius:50px;

    font-weight:600;

    box-shadow:0 8px 20px rgba(122,30,44,.2);
}

.maps-section{
    min-height:100vh;
    background:#faf7f4;
    padding:120px 25px;
    display:flex;
    align-items:center;
    position:relative;
    overflow:hidden;
}

.maps-floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.maps-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.maps-content{
    width:100%;
    text-align:center;
    position:relative;
    z-index:2;
}

/* LOVE STORY */

.story-section{
    min-height:100vh;
    background:#ffffff;
    padding:80px 25px;
}

.story-header{
    text-align:center;
    margin-bottom:60px;
}

.story-header h2{
    color:#7A1E2C;
    font-size:34px;
    margin-bottom:15px;
}

.story-header p{
    color:#777;
    line-height:1.8;
}

.timeline{
    position:relative;
    padding-left:25px;
}

.timeline::before{
    content:"";
    position:absolute;
    left:10px;
    top:0;
    bottom:0;

    width:2px;
    background:#d4af37;
}

.timeline-item{
    position:relative;
    margin-bottom:35px;
}

.timeline-dot{
    position:absolute;

    left:-20px;
    top:12px;

    width:20px;
    height:20px;

    border-radius:50%;

    background:#7A1E2C;
    border:4px solid #fff;
}

.timeline-card{
    background:#faf7f4;

    padding:20px;

    border-radius:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.05);
}

.story-year{
    display:inline-block;

    background:#7A1E2C;
    color:white;

    padding:5px 12px;

    border-radius:20px;

    font-size:12px;

    margin-bottom:10px;
}

.timeline-card h3{
    color:#7A1E2C;
    margin-bottom:10px;
}

.timeline-card p{
    color:#666;
    line-height:1.8;
}

.story-section{
    min-height:100vh;
    background:#ffffff;
    padding:120px 25px;
    position:relative;
    overflow:hidden;
}

.story-floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.story-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.story-header,
.timeline{
    position:relative;
    z-index:2;
}
/* GALLERY */

.gallery-section{
    min-height:100vh;
    background:#faf7f4;
    padding:80px 20px;
}

.gallery-header{
    text-align:center;
    margin-bottom:40px;
}

.gallery-header h2{
    color:#7A1E2C;
    font-size:34px;
    margin-bottom:15px;
}

.gallery-header p{
    color:#777;
    line-height:1.8;
}

.gallery-slider{
    display:grid;
    grid-template-rows:repeat(2,220px);
    grid-auto-flow:column;
    grid-auto-columns:200px;

    gap:16px;

    overflow-x:auto;
    overflow-y:hidden;

    padding:10px 5px 18px;

    scroll-behavior:smooth;
}

.gallery-slider img{
    width:100%;
    height:100%;

    object-fit:cover;

    border-radius:22px;

    cursor:pointer;

    transition:.35s ease;

    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.gallery-slider img:hover{
    transform:scale(1.05);
    box-shadow:0 15px 35px rgba(0,0,0,.18);
}

.gallery-slider::-webkit-scrollbar{
    height:8px;
}

.gallery-slider::-webkit-scrollbar-track{
    background:#efe8df;
    border-radius:20px;
}

.gallery-slider::-webkit-scrollbar-thumb{
    background:linear-gradient(90deg,#caa56a,#9f7a38);
    border-radius:20px;
}

.gallery-slider::-webkit-scrollbar-thumb:hover{
    background:#b58b4a;
}

.gallery-grid img{
    width:100%;
    aspect-ratio:1/1;

    object-fit:cover;

    border-radius:18px;

    cursor:pointer;

    transition:.3s;
}

.gallery-grid img:hover{
    transform:scale(1.03);
}

/* MODAL */

.gallery-modal{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.88);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:9999;

    animation:fadeIn .3s;
}

.gallery-modal img{
    width:92%;
    max-width:550px;
    max-height:90vh;

    object-fit:contain;

    border-radius:20px;

    animation:zoomIn .3s ease;
}

.close-modal{
    position:absolute;
    top:25px;
    right:30px;

    color:#fff;

    font-size:45px;

    cursor:pointer;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes zoomIn{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

.gallery-section{
    min-height:100vh;
    background:#faf7f4;
    padding:120px 20px;
    position:relative;
    overflow:hidden;
}

.gallery-floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.gallery-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.gallery-header,
.gallery-grid{
    position:relative;
    z-index:2;
}
/* RSVP */

.rsvp-section{
    min-height:100vh;
    background:#ffffff;

    padding:80px 25px;
}

.rsvp-header{
    text-align:center;
    margin-bottom:40px;
}

.rsvp-header h2{
    color:#7A1E2C;
    font-size:34px;
    margin-bottom:15px;
}

.rsvp-header p{
    color:#777;
    line-height:1.8;
}

.rsvp-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.rsvp-form input,
.rsvp-form select,
.rsvp-form textarea{

    width:100%;

    padding:16px;

    border:none;

    border-radius:16px;

    background:#faf7f4;

    font-family:'Poppins',sans-serif;

    outline:none;
}

.rsvp-form textarea{
    resize:none;
}

.rsvp-form button{

    margin-top:10px;

    padding:16px;

    border:none;

    border-radius:50px;

    background:#7A1E2C;

    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;
}
.rsvp-section{
    min-height:100vh;
    background:#ffffff;
    padding:120px 25px;
    position:relative;
    overflow:hidden;
}

.rsvp-floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
}

.rsvp-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
}

.rsvp-header,
.rsvp-form{
    position:relative;
    z-index:2;
}
/* AMPLOP DIGITAL */
.gift-section{
    background:#faf7f4;
    padding:180px 20px 120px;
    position:relative;
    overflow:hidden;
    text-align:center;
}

.gift-floral-top,
.gift-floral-bottom{
    position:absolute;
    left:0;
    width:100%;
    z-index:1;
}

.gift-floral-top{
    top:0;
}

.gift-floral-bottom{
    bottom:0;
}

.gift-header,
.atm-card,
.dana-card{
    position:relative;
    z-index:2;
}

.gift-header{
    margin-bottom:35px;
}

.gift-header h2{
    font-size:34px;
    color:#7A1E2C;
    margin-bottom:15px;
}

.gift-header p{
    color:#777;
    line-height:1.8;    
}

/* KARTU */
.atm-card,
.dana-card{
    width:350px;
    margin:0 auto 25px;
    padding:20px;
    border-radius:24px;
    color:#fff;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

/* BCA */
.atm-card{
    background:
    linear-gradient(
        135deg,
        #202020,
        #5f6368
    );
}

/* DANA */
.dana-card{
    background:
    linear-gradient(
        135deg,
        #5b5f1f,
        #e6fc65
    );
}

/* HEADER */
.card-header,
.bank-top{
    display:flex;       
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.card-type{
    text-align:left;
    font-size:14px;
    font-weight:700;
}

.card-type span{
    display:block;
    font-size:11px;
    font-weight:400;
}

.bank-logo{
    font-size:24px;
    font-weight:700;
}

/* CHIP */
.card-chip,
.chip{
    width:45px;
    height:32px;
    border-radius:8px;
    background:#f6d36f;
    margin-bottom:20px;
}

/* NOMOR */
.card-number{
    font-size:20px;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:16px;
    text-align:left;
}

/* NAMA */
.card-name{
    font-size:13px;
    margin-bottom:20px;
    text-align:left;
}

/* BUTTON */
.atm-card button,
.dana-card button{
    border:none;
    background:#fff;
    color:#222;
    padding:10px 18px;
    border-radius:50px;
    font-size:12px;
    font-weight:600;
    cursor:pointer;
}

.card-icon{
    font-size:22px; 
}
.transfer-btn{
    display:block;
    width:max-content;
    margin:25px auto 0;
    background:#7A1E2C;
    color:#fff;
    text-decoration:none;
    padding:12px 28px;
    border-radius:50px;
    font-weight:600;
    text-align:center;
    position:relative;
    z-index:2;
    transition:0.3s;
}

.transfer-btn:hover{
    background:#5f1722;
}
/* UCAPAN TAMU */

.wish-section{
    min-height:100vh;
    background:#fff;
    padding:80px 25px;
}

.wish-header{
    text-align:center;
    margin-bottom:40px;
}

.wish-header h2{
    color:#7A1E2C;
    font-size:34px;
    margin-bottom:15px;
}

.wish-header p{
    color:#777;
}

#wishList{
    position:relative;
    z-index:2;

    display:flex;
    flex-direction:column;
    gap:15px;

    height:360px;          /* tinggi frame */
    overflow-y:auto;

    padding:8px 10px 8px 0;
    scroll-behavior:smooth;
}

.wish-card{
    flex-shrink:0;

    background:#faf7f4;

    padding:20px;

    border-radius:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.06);

    animation:fadeUp .4s ease;
}

#wishList::-webkit-scrollbar{
    width:8px;
}

#wishList::-webkit-scrollbar-track{
    background:#efe7dd;
    border-radius:20px;
}

#wishList::-webkit-scrollbar-thumb{
    background:linear-gradient(
        to bottom,
        #d7b46a,
        #b88a3d
    );
    border-radius:20px;
}

#wishList::-webkit-scrollbar-thumb:hover{
    background:#a97b34;
}

#wishList{
    scrollbar-width:thin;
    scrollbar-color:#c89c4b #efe7dd;
}

.wish-card h4{
    color:#7A1E2C;
    margin-bottom:5px;
}

.wish-card span{
    color:#999;
    font-size:13px;
}

.wish-card p{
    margin-top:10px;
    line-height:1.7;
}
.wish-section{
    background:#ffffff;
    padding:180px 25px 120px;
    position:relative;
    overflow:hidden;
    text-align:center;
}

.wish-floral-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.wish-floral-bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    z-index:1;
    pointer-events:none;
}

.wish-header,
#wishList{
    position:relative;
    z-index:2;
}

.wish-header{
    margin-bottom:40px;
}

.wish-header h2{
    font-size:34px;
    color:#7A1E2C;
    margin-bottom:15px;
}

.wish-header p{
    color:#777;
    line-height:1.8;
}

@media (min-width:768px){

    body{
        max-width:none;
    }

    .content{
        max-width:700px;
        margin:auto;
    }

    .guest{
        max-width:500px;
        margin:60px auto 0;
    }

    .name{
        font-size:110px;
    }

    .title{
        font-size:18px;
    }

    .date{
        font-size:20px;
    }
}

.btn{
    border:none;
    cursor:pointer;
    position:relative;
    z-index:999;
    touch-action:manipulation;
}

@media (min-width: 992px){

    .cover{
        height:100vh;
        min-height:100vh;
        overflow:hidden;
        padding:20px;
    }

    .content{
        max-width:700px;
        transform:scale(.85);
    }

    .title{
        margin-bottom:15px;
    }

    .name{
        font-size:90px;
        line-height:1;
    }

    .date{
        margin-top:10px;
    }

    .guest{
        margin-top:20px;
    }

    .btn{
        margin-top:15px;
    }

    .quote{
        margin-top:10px;
        font-size:12px;
    }
}
.content{
    position:relative;
    z-index:100;
}

.btn{
    position:relative;
    z-index:9999;
    pointer-events:auto;
}